@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

@theme {
  --color-primary: #8c2bee;
  --color-background-light: #f7f6f8;
  --color-background-dark: #191022;

  --font-family-display: "Space Grotesk", sans-serif;

  --radius-lg: 1rem;
  --radius-xl: 1.5rem;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}

.material-symbols-outlined.fill {
  font-variation-settings:
    'FILL' 1;
}

.glass-card {
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}

.glow-effect {
  position: absolute;
  border-radius: 9999px;
  filter: blur(100px);
  z-index: 0;
}